default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\project\Behat\DrupalContext
        - Drupal\Tests\project\Behat\FeatureContext
      filters:
        tags: "${behat.tags}"
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      ajax_timeout: 10
      browser_name: '${selenium.browser}'
      javascript_session: 'selenium2'
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities:
          browser: '${selenium.browser}'
          version: '*'
          chrome:
            switches:
              - '--headless'
              - '--disable-gpu'
              - '--start-maximized'
      base_url: '${drupal.base_url}'
      files_path: '%paths.base%/tests/fixtures/files'
    Drupal\DrupalExtension:
      api_driver: 'drupal'
      drupal:
        drupal_root: '${drupal.root}'
      region_map:
        content: '#content'
        footer: '#footer'
        navigation: '#nav-header'
        left header: '#header-left'
        right header: '#header-right'
        right sidebar: '#aside-region'
      selectors:
        message_selector: '.messages, .alert'
        error_message_selector: '.messages.messages-error, .alert.alert-danger'
        success_message_selector: '.messages.messages-status, .alert.alert-success'
        warning_message_selector: '.messages.messages-warning, .alert.alert-warning'
  formatters:
    progress: ~
