# -----------------------------------------------------------------------------
# Drupal settings.
# -----------------------------------------------------------------------------
drupal:
  root: "web"
  base_url: ${env.DRUPAL_BASE_URL}
  site:
    profile: "minimal"
    name: "Project name"
    generate_db_url: false
  database:
    scheme: "mysql"
    host: ${env.DRUPAL_DATABASE_HOST}
    port: ${env.DRUPAL_DATABASE_PORT}
    name: ${env.DRUPAL_DATABASE_NAME}
    user: ${env.DRUPAL_DATABASE_USERNAME}
    password: ${env.DRUPAL_DATABASE_PASSWORD}
  account:
    name: ${env.DRUPAL_ACCOUNT_USERNAME}
    password: ${env.DRUPAL_ACCOUNT_PASSWORD}
  additional_settings: |
    # Include additional files from the "settings" folder.
    # See project:build-settings-overrides.
    $settings_files = [
      $app_root . '/' . $site_path . '/settings/settings.common.php',
      $app_root . '/' . $site_path . '/settings/settings.dist.php',
      $app_root . '/' . $site_path . '/settings/settings.dev.php',
      $app_root . '/' . $site_path . '/settings/settings.ci.php',
    ];
    foreach ($settings_files as $settings_file) {
      if (file_exists($settings_file)) {
        include $settings_file;
      }
    }

# -----------------------------------------------------------------------------
# Behat settings.
# -----------------------------------------------------------------------------
behat:
  tags: "~@wip"

# -----------------------------------------------------------------------------
# Selenium settings.
# -----------------------------------------------------------------------------
selenium:
  host: ${env.SELENIUM_HOST}
  port: ${env.SELENIUM_PORT}
  browser: ${env.SELENIUM_BROWSER}

# -----------------------------------------------------------------------------
# Toolkit settings.
# -----------------------------------------------------------------------------
toolkit:
  build:
    dist:
      commands:
      - { task: "copy", from: "lib/modules", to: "${toolkit.build.dist.root}/${drupal.root}/modules/custom" }
      - { task: "copy", from: "lib/themes", to: "${toolkit.build.dist.root}/${drupal.root}/themes/custom" }
      - "${runner.bin_dir}/run project:build-settings-overrides --root=${toolkit.build.dist.root}/${drupal.root} --mode=dist"
    dev:
      commands:
      - { task: "symlink", from: "../../lib/modules", to: "${drupal.root}/modules/custom" }
      - { task: "symlink", from: "../../lib/themes", to: "${drupal.root}/themes/custom" }
      - { task: "run", command: "drupal:drush-setup" }
      - { task: "run", command: "drupal:setup-behat" }
      - { task: "run", command: "drupal:setup-phpunit" }
      - "${runner.bin_dir}/run project:build-settings-overrides --root=${drupal.root} --mode=dev"

commands:
  drupal:setup-behat:
  - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
  drupal:setup-phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
